*{
  --primary-transparent-color: rgba(133, 133, 133, 0.40);
  --secondary-transparent-color: rgba(196, 195, 195, 0.40);
}

body{

  background-color: rgb(19, 0, 44);
  color: #ffffff;
}


#content{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  

  width: max-content;
  height: max-content;
  align-content: space-around;
}

.turnOrderBoxes{

  position: static;
  width: 22vh;
  height:10vh;
  padding:1vh;
  margin: 0.5vh;

  background-color: var(--primary-transparent-color);
  border-radius: 10%;

}
#column{

  position: static;
  height: 100%max-content;
  justify-content: space-around;
}

.span{
  height: 40vh;
}

#enemyBox{
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  height: min-content;
}

.enemy{

  margin: 5vh;
}

#allyParty{

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 1vh;

  height: min-content;
}

.ultimate{

  background-color: var(--primary-transparent-color);

  padding: 1vh;
  width: 5vh;
  height: 5vh;
  border: 0.5vh solid var(--secondary-transparent-color);
  border-radius: 100%;
}
.allyCharacter img {

  width: 32vh;
  height: 16vh;
}

#basicBattleControls{

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#skill{

  background-color: var(--primary-transparent-color);

  margin: 2vh;
  padding: 5vh;
  width: 14vh;
  height: 14vh;
  border: 1vh solid var(--secondary-transparent-color);
  border-radius: 100%;

  align-items: center;
  justify-content: center;

  transition: transform 0.5s;

}

#skill:hover{

  transform: scale(1.3);
}

#basicAttack{

  background-color: var(--primary-transparent-color);

  margin: 2vh;
  padding: 5vh;
  width: 14vh;
  height: 14vh;
  border: 1vh solid var(--secondary-transparent-color);
  border-radius: 100%;

  align-items: center;
  justify-content: center;

  transition: transform 0.5s;
}

#basicAttack:hover{

  transform:scale(1.3);
}

