*{
  --primary-transparent-color: rgba(133, 133, 133, 0.40);
  --secondary-transparent-color: rgba(196, 195, 195, 0.40);
  --hp-color: rgba(211, 0, 0, 0.479);
  --hp-color-ally:rgba(0, 225, 255, 0.726);
  --toughness-color: rgba(180, 180, 219, 0.479);
  --fire-ult-color:rgba(214, 55, 27, 0.479);
  --ice-ult-color:rgba(0, 139, 253, 0.479);
  --wind-ult-color:rgba(8, 223, 98, 0.479);
  --lightning-ult-color:rgba(136, 11, 194, 0.479);
  --imaginary-ult-color:rgba(212, 192, 9, 0.479);
  --quantum-ult-color:rgba(45, 0, 245, 0.479);

}

html, body {margin: 0; height: 100%; overflow-y: hidden}
body{

  background-color: rgb(19, 0, 44);
  color: #ffffff;
}


#content{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  

  width: max-content;
  height: max-content;
  align-content: space-around;
}

.turnOrderBoxes{

  position: static;
  width: 15vh;
  height:4.5vh;
  padding:1vh;
  margin: 0.5vh;

  background-color: var(--primary-transparent-color);
  border-radius: 5%;

}
#column{

  position: static;
  height: 100%;
  justify-content: space-around;
  margin: 0%;
}

.span{
  height: 25vh;
}

#enemyBox{
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  height: fit-content;
}

.enemy{

  margin: 5vh 2vh;
  font-size: 2vh;
}


.enemyToughnessBar{
 
  margin: 1%, 2.5%, 0vh;
  width: 100%;
  height: 0.8vh;
  background-color: gray;
  display: inline-block;
  padding: 1%;
}
.toughnessEnemy{
  width: 100%;
  height: 100%;
  background-color: var(--toughness-color);
  margin-bottom: 0%;
}

.enemyHpBar{
 
  margin: 0, 2.5%;
  width: 100%;
  height: 1.3vh;
  background-color: gray;
  display: inline-block;
  padding: 1%;
}
.hpEnemy{
  width: 100%;
  height: 100%;
  background-color: var(--hp-color);
}

#allyParty{

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 1vh;

  height: min-content;
}

.ultimateBar{

  background-color: var(--primary-transparent-color);

  padding: 0vh;
  width: 5vh;
  height: 5vh;
  border: 0.5vh solid var(--secondary-transparent-color);
  border-radius: 100%;
  font-size: 2.5vh;
}
.ultimate{
  background-color: var(--toughness-color);
  width: 100%;
  height:100%;
  border-radius: 100%;
  font-size: 2.5vh;
}
#ultAlly1{
  background-color: var(--wind-ult-color);
}
#ultAlly2{
  background-color: var(--ice-ult-color);
}
#ultAlly3{
  background-color: var(--lightning-ult-color);
}
#ultAlly4{
  background-color: var(--wind-ult-color);
}
.allyCharacter img {

  max-width: 24vh;
  max-height: 18vh;
  margin: 0px 3vh;
}
.enemyImg {

  max-width: 16vh;
  max-height: 16vh;
  margin: 0px;
}
.weaknesses img{
  max-width: 2vh;
  max-height: 2vh;
  margin: 0px;
}


.allyHpBar{
 
  margin-top: 1%;
  width: 90%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  height: 1.3vh;
  background-color: var(--primary-transparent-color);
  display: inline-block;
  border: 0.3vh solid var(--secondary-transparent-color);
}
.hpAlly{
  width: 100%;
  height: 100%;
  background-color: var(--hp-color-ally);
}

#sP{

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 4vh;  
  margin-bottom: 2vh;
}
#sP img{
  max-width: 4vh;
  max-height: 4vh;
}

#basicBattleControls{

  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-size: 2vh;
  
}
#skill{

  background-color: var(--primary-transparent-color);

  margin: 2vh;
  margin-bottom: 10vh;
  padding: 5vh;
  width: 14vh;
  height: 14vh;
  border: 0.5vh solid var(--secondary-transparent-color);
  border-radius: 100%;

  align-items: center;
  justify-content: center;

  transition: transform 0.5s;
  text-align: center;
}

#skill:hover{

  transform: scale(1.3);
}

#basicAttack{

  background-color: var(--primary-transparent-color);

  margin: 2vh;
  margin-bottom: 0vh;
  padding: 5vh;
  width: 14vh;
  height: 14vh;
  border: 0.5vh solid var(--secondary-transparent-color);
  border-radius: 100%;

  align-items: center;
  justify-content: center;

  transition: transform 0.5s;
  text-align: center;
}

#basicAttack:hover{

  transform:scale(1.3);
}
