*{
  --primary-transparent-color: rgba(133, 133, 133, 0.40);
  --secondary-transparent-color: rgba(196, 195, 195, 0.40);
  --hp-color: rgba(211, 0, 0, 0.479);
  --toughness-color: rgba(0, 0, 211, 0.479);
}
body{

  background-color: rgb(19, 0, 44);
  color: #ffffff;
}


#content{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  

  width: max-content;
  height: max-content;
  align-content: space-around;
}

#characterList{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  

  justify-content: center;
  align-items: center;

}

.characters img{

  max-width: 32vh;
  max-height: 32vh;
  margin: 0px 3vh;
}

#link1{
  display: flex;

  background-color: rgb(39, 65, 88);

  height: 6vh;
  width: 20vh;
  border-radius: 5%;
}
